<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="C:\Users\ruban\Documents\hosting\img_1.jpg"> <!-- Ensure correct favicon path -->
  <title>Notifier</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
 
  </head>
 <body>
  <header id="header">
    <div class="container">
      <div class="logo">
        <img src="{% static 'images/img_4.jpeg' %}"; alt="Logo">
      </div>
      <div class="conta">
        <nav>
          <ul class="nav">
            <li class="nav-item"><a href="#">Home</a></li>
            <li class="nav-item"><a href="#">About Us</a></li>
            <li class="nav-item"><a href="#">Map</a></li>
            <li class="nav-item"><a href="#">Contact Us</a></li>
            <li class="nav-item"><a href="#">Help</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
   
  <div class="heading">
    <div class="headi">
      <img src="{% static 'images/img_3.jpg' %}"class="centered-img" alt="Header Image">
    </div>
    <div class="headp">
      <h1 class="hl">Welcome To lot Notifier</h1>
      <h2 class="h2"> "Reserve your parking spot. Secure, convenient, and stress-free. Book now!"</h2>
    </div>
  </div>

  <div class="hole">
    <div id="conten">
      <div class="con">
        <div class="conp">
          <h1 class="h1">Explore Nearby Parking Spots</h1>
          <h2 class="h2">Need parking?</h2>
          <h3 class="h3"> "Our app can help Discover parking spaces location near you"</h3>
        </div>
        <div class="coni">
          <img src="{% static 'images/img_5.jpg' %}" class="center-img" alt="Parking Image">
        </div>
      </div>
      <div class="rimg"> 
        <div class="rp">
          <h1 class="h1">Solution for easy Parking!</h1>
          <p class="p">
            Welcome to Notifier! We understand the importance of easy parking. Whether you own a car and need a safe spot or you're traveling and need a convenient place to park, we're here to help. Our aim is to make parking simple and stress-free parking for you.
          </p>
        </div>
        <div class="imap">
          <iframe src="https://maps.google.com/maps?q=Tangesir%20Dates%20Products&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0"></iframe>
        </div>
      </div>
      <div class="para">
        <div class="para1">
          <h1>Why should you choose us?</h1>
          <p>Choose the Car Parking Space Notifier for comprehensive parking solutions to your needs. With top-notch security features, reserve your spot hassle-free and enjoy peace of mind. Our dedicated team ensures exceptional service, exceeding expectations every time. Whether you're a commuter, traveler, or looking to optimize parking, we have the perfect solution for you. Visit our website for more details. Let us help you eliminate parking stress for good.</p>
        </div>
      </div>
      
      <div class="abou">
        
        <div class="abouti">
          <h1 class="ahead"> Avaliable Slots </h1>
            <div id="detectionResult">
                <button class="go-button" id="goButton1"> 1 place</button>
                <button class="go-button" id="goButton2"> 2 place</button>
                <button class="go-button" id="goButton3"> 3 place</button>
                <button class="go-button" id="goButton4"> 4 place</button>
            </div>
        </div>
        <div class="aboutp">

          <h1>&larr;</h1>
          <p class="par">Select Parking Spaces</p>
        
        </div>
      </div>
    </div>
  </div>
  
  <footer id="footer">
    <div class="linkdet"></div>
  </footer>
  <script>
    
    document.getElementById('goButton1').addEventListener('click', function() {
       
        window.location.href = 'http://127.0.0.1:8000/secondapp/dete/';
    });
</script>
<script>
 
  document.getElementById('goButton2').addEventListener('click', function() {
     
      window.location.href = 'http://127.0.0.1:8000/secondapp/dete2/';
  });
</script>
          
<script>
  
  document.getElementById('goButton3').addEventListener('click', function() {
      
      window.location.href = 'http://127.0.0.1:8000/secondapp/dete3/';
  });
</script>
    <!-- video input -->
<script>
 
  document.getElementById('goButton4').addEventListener('click', function() {
     
      window.location.href = 'http://127.0.0.1:8000/secondapp/dete4/';
  });
</script>
</body>
</html>